// ==++ HEADER ++== //
header {
  background-image: url("../images/moutain-background-lg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

// header ID inside container:
#header {
  color: white;

  .navbar-brand {
    font-size: 1.5em;
  }

  .navbar-brand:hover {
    color: white;
  }

  .navbar-brand:click {
    color: white;
  }
  
  .navbar-header {
    button {
      color: white;
    }
  }

  .navbar-collapse {
    @media (max-width: 768px) {
      background-color: rgba(1,1,1,.25);
    }    

    li:hover {
      background-color: $brand-primary;

      a {
        color: white;
      } 
    }

    #main-nav-hamburger {
      color: red;
    }
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
  }

  .navbar-default .navbar-toggle .icon-bar:hover {
    background-color: white !important;
  }

  .jumbotron {
    color: white;

    h1 {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    p {
      padding-top: 30px;
    }
  
    button .btn, .btn-primary {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    @media (min-width: 768px) {
      button {
        float: left;
      }
    }
  }
}

.jumbotron {
  background: transparent;
}

.jumbotron p {
  padding-top: 25px;
  padding-bottom: 25px;
}