$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// ==++ VARIABLES ++==//
$brand-primary: #36c36e;

// ==++ GLOBAL STYLES ++== //
.btn-primary {
  border: 1px solid $brand-primary;
  background-color: $brand-primary;
}

.btn-primary:hover {
  border: 1px solid $brand-primary;
  background-color: darken($brand-primary, 6.5%);
}

.section-header {
  padding-top: 70px;
  padding-bottom: 70px;
}

// ==++ NAV ++== //
.navbar-default {
  border: none;
  background-color: white;
}

// NAV LINKS
.navbar-default .navbar-nav > li > a {

}

.navbar-default .navbar-nav > li > a:hover {
  
}

.jumbotron {
  background-color: white;
  margin-left: -30px;
}

.jumbotron p {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 14px;
}

// TODO
// one I decide on a background img then change the muted text
.mute {

}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-default {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .navbar-default .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 10px;
    transition: border-bottom .4s, background-color .4s;
  }

  .navbar-default .navbar-nav > li > a:hover {
    border-bottom: 3px solid $brand-primary;
    background-color: lighten($brand-primary, 25%);
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {} 

// ==++ FEATURES ++== //
#features {
  padding-bottom: 70px;
}

div .circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: $brand-primary;
}

.circle i {
  padding-top: 13px;
}

.feature h3 {
  padding-top: 5px;
  padding-bottom: 10px;
}
