$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_vars.scss";
@import "_global.scss";
@import "_navigation.scss";
// @import "";

// ==++ MAIN ++== //

// ==++ HEADER ++== //
#header {
  backround-image: url("../images/moutain-background-lg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.section-header {
  padding-top: 50px;
  padding-bottom: 70px;
}

.jumbotron {
  background: transparent;
}

.jumbotron p {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 14px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-default {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .navbar-default .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 10px;
    transition: border-bottom .4s, background-color .4s;
  }

  .navbar-default .navbar-nav > li > a:hover {
    border-bottom: 3px solid $brand-primary;
    background-color: lighten($brand-primary, 25%);
  }

  .post {
    padding-top: 0px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {} 

// ==++ FEATURES ++== //
#features {
  padding-bottom: 80px;
}

div .circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: $brand-primary;
}

.circle i {
  padding-top: 13px;
}

.feature h3 {
  padding-top: 5px;
  padding-bottom: 10px;
}


// ==++ ABOUT ++== //
#about {
  background-color: $lt-gray;
}

@media (min-width: 992px) {
  .about-content {
    top: 100px;
  }
}

// ==++ testimonial ++== //
.testimonial {
  padding-top: 30px;
  padding-bottom: 50px;
}
.cite-text {
  padding-right: 77px;
}
.name {
  text-align: right;
  padding-top: 25px;
}

.testimonial cite {
  margin-top: -10px;
  float: right;
}

// ==++ Experiance ++== //
#experiance {
  background-color: $gray;
  color: white;
}
.progress {
  border-radius: 0px;
}
.progress-bar {
  background-color: $brand-primary;
}

// ==++ BLOG ++== //
.post {
  padding-top: 25px;
}

.comments {
  padding-left:150px;
}

// ==++ banner ++== //
#banner {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $brand-primary;
  color: white;
}

#banner-button {
  margin-top: 30px;
}

// ==++ FOOTER ++== //
footer .brand {
  line-height: 125px;
}
footer {
  padding: 30px 0;
  color: white;
  background-color: #232323;
}
.phone-number {
  margin: 0px;
}

footer a {
  color: white;
}


