$icon-font-path: '../fonts/';
@import 'https://fonts.googleapis.com/css?family=Raleway';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_vars.scss";
@import "_global.scss";
@import "_navigation.scss";
@import "_header.scss";
// @import "";

// ==++ MAIN ++== //

// MEDIA QURIES
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {} 

// ==++ FEATURES ++== //
#features {
  padding-bottom: 80px;
}

div .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $brand-primary;
}

.circle i {
  padding-top: 13px;
}

.feature h3 {
  padding-top: 5px;
  padding-bottom: 10px;
}

// ==++ ABOUT ++== //
#about {
  background-color: $lt-gray;
  padding: 20px;
}

@media (min-width: 992px) {
  .about-content {
    top: 50px;
  }
}

// ==++ testimonial ++== //
.testimonial {
  padding-top: 30px;
  padding-bottom: 50px;
}
.cite-text {
  padding-right: 77px;
}
.name {
  text-align: right;
  padding-top: 25px;
}

.testimonial cite {
  margin-top: -20px;
  float: right;
}

cite {
  font-size: .75em;
}

// ==++ Experiance ++== //
#experiance {
  background-color: $gray;
  color: white;
  padding: 20px;
}
.progress {
  border-radius: 0px;
}
.progress-bar {
  background-color: $brand-primary;
}

// ==++ BLOG ++== //
.blog-reel {
  padding-bottom: 20px;
}

// ==++ banner ++== //
#banner {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $brand-primary;
  color: white;
}

#banner-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);

  @media (max-width: 992px) {
    transform: translate(-50%, 100%);
  }

  @media (max-width: 768px) {
    position: inherit;
    transform: none;
    top: 0;
    left: 0;
    margin-top: 25px;
  }

}

.banner-row {
  polistion: relative;
}

// ==++ FOOTER ++== //
footer .brand {
  line-height: 125px;
}
footer {
  padding: 30px 0;
  color: white;
  background-color: #232323;
}
.phone-number {
  margin: 0px;
}

footer a {
  color: white;
}


